h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 1rem 0 0 0;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin: 0;
}
iframe {
  aspect-ratio: 16 / 9;
  border: none;
  width: 100%;
}
main img {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  margin: 1rem auto;
}
main a {
  color: #0077de;
}
