h1,
h2,
h3,
h4,
h5,
h6 p {
  margin: 1rem 0 0 0;
}
h1:first-of-type,
h2:first-of-type,
h3:first-of-type,
h4:first-of-type,
h5:first-of-type,
h6:first-of-type,
p:first-of-type {
  margin: 0;
}
iframe {
  aspect-ratio: 16 / 9;
  border: none;
  width: 100%;
}
